.css_te_tidentificacion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_te_tidentificacion_grid_line {vertical-align: top;text-align: left;}
.css_te_identificacion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_te_identificacion_grid_line {vertical-align: top;text-align: left;}
.css_te_nombres_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_te_nombres_grid_line {vertical-align: top;text-align: left;}
.css_te_apellidos_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_te_apellidos_grid_line {vertical-align: top;text-align: left;}
.css_te_telefono_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_te_telefono_grid_line {vertical-align: top;text-align: left;}
.css_te_fnacimiento_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_te_fnacimiento_grid_line {vertical-align: top;text-align: center;}
.css_antecedentes_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_antecedentes_grid_line {text-align: center;}
.css_qr_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_qr_grid_line {text-align: center;}
.css_te_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_te_id_grid_line {vertical-align: top;text-align: right;}
.css_te_direccion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_te_direccion_grid_line {vertical-align: top;text-align: left;}
