.css_co_url_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_co_url_grid_line {color:#000000;font-size:15px;font-weight:bold;vertical-align: top;text-align: center;}
