.css_nombres_label { }
.css_nombres_line {font-size:22px;color:#FFFFFF;font-weight:bold;text-align:left;}
.css_nombres_obj { }
.css_cedula_label { }
.css_cedula_line {font-size:15px;color:#FFFFFF;text-align:left;}
.css_cedula_obj { }
.css_antecedentes_label { }
.css_antecedentes_line {font-size:15px;color:#FFFFFF;text-align:left;}
.css_antecedentes_obj { }
.css_contacto_label { }
.css_contacto_line {font-size:15px;color:#FFFFFF;text-align:left;}
.css_contacto_obj { }
.css_eps_label { }
.css_eps_line {font-size:15px;color:#FFFFFF;text-align:left;}
.css_eps_obj { }
.css_telefono_label { }
.css_telefono_line {font-size:15px;color:#FFFFFF;text-align:left;}
.css_telefono_obj { }
.css_logo_label { }
.css_logo_line {text-align:left;}
.css_logo_obj { }
